<i class="sprite sprite-book-menu-footer"></i>
<i class="sprite sprite-calendar"></i>
<i class="sprite sprite-calendar-menu"></i>
<i class="sprite sprite-clean"></i>
<i class="sprite sprite-dmca"></i>
<i class="sprite sprite-email"></i>
<i class="sprite sprite-facebook"></i>
<i class="sprite sprite-hair-menu"></i>
<i class="sprite sprite-home-menu-footer"></i>
<i class="sprite sprite-icon-left"></i>
<i class="sprite sprite-logo"></i>
<i class="sprite sprite-logo-footer"></i>
<i class="sprite sprite-menu"></i>
<i class="sprite sprite-nail-menu"></i>
<i class="sprite sprite-people-menu"></i>
<i class="sprite sprite-phone"></i>
<i class="sprite sprite-phone-call"></i>
<i class="sprite sprite-phone-menu"></i>
<i class="sprite sprite-phone-menu-footer"></i>
<i class="sprite sprite-search"></i>
<i class="sprite sprite-search-White"></i>
<i class="sprite sprite-send"></i>
<i class="sprite sprite-service-menu-footer"></i>
<i class="sprite sprite-user"></i>
<i class="sprite sprite-user-menu"></i>
<i class="sprite sprite-voucher-menu"></i>
<i class="sprite sprite-youtube"></i>
<i class="sprite sprite-zalo"></i>

<style>
.sprite { background-image: url(../../assets/images/tgld_css_spritess.png); background-repeat: no-repeat; display: block; }
.sprite-book-menu-footer {
    width: 21px;
    height: 20px;
    background-position: -5px -5px;
}

.sprite-calendar {
    width: 23px;
    height: 22px;
    background-position: -36px -5px;
}

.sprite-calendar-menu {
    width: 18px;
    height: 19px;
    background-position: -69px -5px;
}

.sprite-clean {
    width: 40px;
    height: 40px;
    background-position: -97px -5px;
}

.sprite-dmca {
    width: 151px;
    height: 60px;
    background-position: -5px -55px;
}

.sprite-email {
    width: 17px;
    height: 11px;
    background-position: -147px -5px;
}

.sprite-facebook {
    width: 40px;
    height: 40px;
    background-position: -174px -5px;
}

.sprite-hair-menu {
    width: 20px;
    height: 25px;
    background-position: -224px -5px;
}

.sprite-home-menu-footer {
    width: 20px;
    height: 20px;
    background-position: -254px -5px;
}

.sprite-icon-left {
    width: 9px;
    height: 10px;
    background-position: -5px -35px;
}

.sprite-logo {
    width: 256px;
    height: 54px;
    background-position: -5px -125px;
}

.sprite-logo-footer {
    width: 256px;
    height: 55px;
    background-position: -5px -189px;
}

.sprite-menu {
    width: 40px;
    height: 40px;
    background-position: -224px -40px;
}

.sprite-nail-menu {
    width: 16px;
    height: 23px;
    background-position: -166px -90px;
}

.sprite-people-menu {
    width: 21px;
    height: 28px;
    background-position: -284px -5px;
}

.sprite-phone {
    width: 11px;
    height: 14px;
    background-position: -274px -43px;
}

.sprite-phone-call {
    width: 22px;
    height: 22px;
    background-position: -192px -67px;
}

.sprite-phone-menu {
    width: 21px;
    height: 21px;
    background-position: -274px -67px;
}

.sprite-phone-menu-footer {
    width: 24px;
    height: 28px;
    background-position: -271px -98px;
}

.sprite-search {
    width: 20px;
    height: 27px;
    background-position: -271px -136px;
}

.sprite-search-White {
    width: 20px;
    height: 27px;
    background-position: -271px -173px;
}

.sprite-send {
    width: 22px;
    height: 24px;
    background-position: -271px -210px;
}

.sprite-service-menu-footer {
    width: 20px;
    height: 20px;
    background-position: -271px -244px;
}

.sprite-user {
    width: 34px;
    height: 34px;
    background-position: -5px -274px;
}

.sprite-user-menu {
    width: 17px;
    height: 21px;
    background-position: -49px -274px;
}

.sprite-voucher-menu {
    width: 24px;
    height: 28px;
    background-position: -76px -274px;
}

.sprite-youtube {
    width: 40px;
    height: 40px;
    background-position: -110px -254px;
}

.sprite-zalo {
    width: 41px;
    height: 41px;
    background-position: -160px -254px;
}

</style>