.bnt-primary { display: flex; align-items: center; justify-content: start; width: 100%; height: 40px; margin-top: 20px; }
.bnt-primary a {     padding: 0 25px;color: white; font-weight: 400; font-size: 16px; width: auto; height: 100%; background: linear-gradient(90deg, rgb(167, 28, 32) 0%, rgb(224, 33, 38) 100%); box-shadow: rgb(224 33 38 / 20%) 5px 6px 20px; border-radius: 33.5px; border: red; display: inline-block; line-height: 40px; text-decoration: none; }
.slider-banner {
    overflow: hidden;
    height: auto;
    margin-bottom: -2px;
  }
.slider-banner img { width: 100%; height: 100%;}
.title-section { padding-bottom: 40px; background: linear-gradient(180deg, #E02126 0%, #662425 100%); -webkit-background-clip: text; -webkit-text-fill-color: transparent; background-clip: text; text-fill-color: transparent; text-shadow: 0px 1px 4px rgba(136, 25, 29, 0.25); text-align: center; }
.title-section h2 { font-size: 32px; font-weight: 700; }
.content-about li:before {content: '';
    margin-top: 5px;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    background-image: url(../../assets/images/about/rectangle-885.png);
}
#about-us .title-section h2,#about-csvc .title-section h2{font-size: 24px;}
#about-us .title-section,#about-csvc .title-section {padding-bottom: 20px;}
#about-us .title-section {
  text-align: left;
}
#about-us {padding: 25px 0;}
.content-about li {list-style: none;position: relative;padding-left: 35px;margin-bottom: 15px;}

.image-about {height: 420px;width: 100%;    margin-bottom: 25px;}

.image-about img {width: 100%;height: 100%;}

.iframe-about iframe {width: 100%;height: 420px;}
section#about-csvc {margin-bottom: 50px;}
.title-csvc h3 {font-size: 14px;}
section#about-csvc .itemt-about:hover {box-shadow: 0 3px 6px -4px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);border-radius: 10px;cursor: pointer;}
.content-csvc {    padding: 10px;display: flex;align-items: center;gap: 5px;justify-content: center;}
.icon-csvc {height: 30px;width: 30px;}
.icon-csvc img {width: 100%;height: 100%;object-fit: contain;}

