
@media only screen and (max-width:1024px) {
    .slider-banner {
        height: auto;
    }
    .content-about li {padding-left: 25px;}

.itemt-about {margin-bottom: 25px;}

.image-about {height: auto;}

.iframe-about iframe {height: 250px;}
}
@media (min-width:769px) and (max-width:1500px) {

}
@media (max-width:768px) {

}
@media (min-width:1024px) and (max-width:1200px) {

}
@media (min-width:1200px) and (max-width:1900px) {

}