.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
}

.tabcontent.active {
    display: block;
}
.tab-service ul {
    display: flex;
    justify-content: center;
}

.tab-service ul li a {
    width: 200px;
    display: flex;
    height: 55px;
    background: #fff;
    border-radius: 10px 10px 0px 0px;
    font-size: 24px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.tab-service ul li {
    list-style: none;
    cursor: pointer;
}

.tab-service ul li a.active {
    background: #D8D8D8;
    font-weight: 700;
}

#service,
#voucher,
#why {
    padding-top: 40px;
}

#service .bg-service {
    background: #d8d8d8;
}

#service .tabcontent {
    border: none;
    padding-top: 40px;
    padding-bottom: 40px;
    min-height: 500px;
}

.bg-service .col-3 {
    display: flex;
    justify-content: center;
}

.item-service {
    border: aliceblue;
    max-width: 100%;
    width: 100%;
    height: 383px;
    overflow: hidden;
    border-radius: 30px;
    margin: 0%;
    text-align: center;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: inset 3px 2.50406px 5.00813px #ffffff, inset 0px 3px 110.179px rgb(255 255 255 / 51%), inset 0px -2.50406px 10.0163px rgb(255 255 255 / 75%), inset 0px 3px 10.0163px rgb(255 255 255 / 30%);
    backdrop-filter: blur(10.0163px);
}

.item-service .image {
    height: 300px;
    transition: height 0.5s;
    transition-timing-function: ease;
}

.item-service .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.item-service:hover .bnt-read-more {
    transform: translateY(0px);
    display: flex;
}

.item-service:hover .image {
    height: 205px;
}

.item-service:hover .image img {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.item-service .image img {
    border: 3px solid white;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.2);
}

.title-service {
    font-size: 24px;
    line-height: 28px;
    color: #262524;
    font-weight: 700;
    text-align: center;
    padding-top: 15px;
}

.title-service a,
.title-news a {
    text-decoration: none;
}

.title-service a:hover,
.title-news a:hover h3 {
    color: var(--secondary-color);
}

.category-service a {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #666666;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    width: 100%;
}

.bnt-read-more {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    margin-top: 20px;
}

.bnt-read-more a {
    color: white;
    font-weight: 400;
    font-size: 16px;
    width: 140px;
    height: 100%;
    background: linear-gradient(90deg, rgb(167, 28, 32) 0%, rgb(224, 33, 38) 100%);
    box-shadow: rgb(224 33 38 / 20%) 5px 6px 20px;
    border-radius: 33.5px;
    border: red;
    display: inline-block;
    line-height: 40px;
    text-decoration: none;
}

.bnt-read-more {
    transform: translateY(30px);
    transition: 0.5s all;
}

#book {
    padding-top: 46px;
    padding-bottom: 43px;
    height: 300px;
    background-size: cover;
}

#voucher .content-section ul li {
    list-style: none;
}

#voucher .content-section ul {
    display: flex;
    justify-content: center;
    gap: 17px;
}

#voucher,
#why {
    background: #E5E5E5;
}

.bg-why {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: inset 2.50406px 2.50406px 5.00813px #FFFFFF, inset 0px 2.50406px 110.179px rgba(255, 255, 255, 0.45), inset 0px -2.50406px 10.0163px rgba(255, 255, 255, 0.5), inset 0px 2.50406px 10.0163px rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10.0163px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 30.0488px 30.0488px 30px 30px;
    height: 584px;
    margin-top: 130px;
    margin-bottom: 90px;
}

.title-why {
    background: linear-gradient(90deg, #E02126 0%, #88191D 100%);
    box-shadow: 5px 5px 10px rgba(136, 25, 29, 0.25);
    border-radius: 33.5px;
    width: 620px;
    height: 67px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -35px;
}

.title-why h2 {
    color: #fff;
    font-weight: 700;
    font-size: 32px;
    text-shadow: 0px 1px 4px rgba(136, 25, 29, 0.25);
}

.bg-why .icon-1,
.bg-why .icon-2,
.bg-why .left-why .image,
.title-why {
    position: absolute;
}

.left-why {
    position: relative;
}

.right-why {
    position: relative;
}

.content-why {
    padding-top: 83px;
}

.item-why {
    width: 150px;
    margin-bottom: 25px;
}

.item-why .image {
    width: 100%;
}

.item-why .image img {
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 5px 5px 20px rgb(136 25 29 / 10%), inset 2.50406px 2.50406px 5.00813px #ffffff, inset 0px 2.50406px 110.179px rgb(255 255 255 / 45%), inset 0px -2.50406px 10.0163px rgb(255 255 255 / 50%), inset 0px 2.50406px 10.0163px rgb(255 255 255 / 30%);
    backdrop-filter: blur(10.0163px);
    border-radius: 100%;
    border: 5px solid #fff;
}

.item-why .text {
    color: #262524;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    justify-content: center;
}

.item-why .text p {
    width: 97%;
    padding-top: 10px;
}

.left-why .icon-2 {
    top: 100px;
}

.left-why .icon-1 {
    top: 0;
}

.left-why .icon-1,
.left-why .icon-2 {
    left: 40px;
}

.right-why .icon-2 {
    bottom: 100px;
}

.right-why .icon-1 {
    bottom: 150px;
}

.right-why .icon-1,
.right-why .icon-2 {
    right: -40px;
}

.left-why .image {
    top: -65px;
    left: -40px;
}

.box-book,
.box-news {
    display: flex;
    justify-content: center;
}

#book .content-section {
    background: #FFFFFF;
    border: 2px solid #FF3333;
    box-sizing: border-box;
    backdrop-filter: blur(10.0163px);
    border-radius: 30.0488px;
    padding: 45px 52px;
    text-align: center;
    width: 513px;
    height: 211px;
}

.bnt-book a {
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: linear-gradient(90deg, #6D0000 0.25%, #E02126 99.13%);
    box-shadow: 0px 3px 6px rgba(133, 2, 2, 0.25);
    border-radius: 30px;
    text-decoration: none;
}

.bnt-book span {
    font-weight: 700;
    font-size: 18px;
    margin-left: 15px;
}

.des-book {
    font-size: 14px;
    color: #666666;
    margin-top: 20px;
}

.des-book p {
    margin: 0;
}

.title-boook {
    color: #262524;
    margin-bottom: 20px;
}

.title-boook h3 {
    font-weight: 700;
    font-size: 18px;
}

#news {
    background: #E5E5E5;
    padding-top: 50px;
    padding-bottom: 40px;
}

#news .title-section {
    text-align: left;
}

.item-news .image {
    border-radius: 10px;
    width: 194px;
    height: 146px;
}

.item-news .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.right-news .title-news {
    text-align: center;
}
.title-news h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #262524;
}

.content-news {
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #606060;
}

.item-news {
    margin-bottom: 20px;
}

.left-news,
.right-news {
    width: 513px;
}

.item-news .col-7 {
    padding-left: 0;
}
