@media only screen and (max-width:1024px) {
    #main-menu {
        display: none;
    }
    .slider-banner {
        height: 390px;
    }
    .owl-item .item {
        transform: translate3d(0, 0, 0);
        transition: all .25s ease-in-out;
        margin: 50px 0;
    }
    .slider-center .owl-item .item img {
        -webkit-transition: 0.3s;
        -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
        -o-transition: 0.3s;
        transition: 0.3s;
        -webkit-transform: scale(0.80);
        -ms-transform: scale(0.80);
        transform: scale(0.80);
    }
    .slider-center .owl-item.center .item img {
        -webkit-transform: scale(1.15);
        -ms-transform: scale(1.15);
        transform: scale(1.15);
    }
    .slider-center .owl-nav button {
        display: none;
    }
    .slider-center .owl-item.center .bnt-read-more {
        transform: translateY(-15px);
        display: flex;
    }
    .slider-center .owl-item.center .image {
        height: 131px;
    }
    .slider-center .item-service .image {
        height: 160px;
    }
    .slider-center .item-service {
        height: 220px;
    }
    .slider-center .owl-item.center .item-service {
        height: 244px;
    }
    .slider-center .bnt-read-more a {
        font-size: 12px;
    }
    .slider-center .owl-item.center .bnt-read-more a {
        font-size: 14px;
    }
    .slider-center .bnt-read-more {
        height: 34px;
    }
    .slider-center .bnt-read-more a {
        width: 103px;
    }
    .slider-center .title-service h3 {
        font-size: 14px;
    }
    .slider-center .owl-item.center .title-service h3 {
        font-size: 16px;
    }
    #service .tabcontent {
        min-height: 288px;
        padding-top: 24px;
        padding-bottom: 10px;
    }
    .tab-service ul li a {
        font-size: 14px;
        width: auto;
        min-width: 100px;
        height: 44px;
    }
    .title-section h2 {
        font-size: 20px;
    }
    #service,
    #voucher,
    #why {
        padding-top: 28px;
    }
    .title-why {
        display: none;
    }
    #voucher .content-section ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #why {
        background: #FFFFFF;
        padding-bottom: 24px;
    }
    #voucher {
        padding-bottom: 28px;
    }
    .content-why {
        padding-top: 0;
    }
    .item-why .text {
        font-size: 14px;
    }
    .item-why .text p {
        padding-top: 0;
    }
    .item-why {
        margin: 0 auto 0;
    }
    .banner-why {
        position: relative;
        display: flex;
        justify-content: center;
        margin-top: -30px;
    }
    .banner-why .icon-1,
    .banner-why .icon-2,
    .banner-why .icon-3,
    .banner-why .icon-4 {
        position: absolute;
    }
    .banner-why .icon-1 {
        top: 56px;
        width: 58px;
        height: 67px;
    }
    .banner-why .icon-2 {
        top: 135px;
    }
    .banner-why .icon-3 {
        bottom: 114px;
        width: 39px;
        height: 45px;
    }
    .banner-why .icon-4 {
        bottom: 84px;
        width: 36px;
        height: 29px;
    }
    .banner-why .icon-1,
    .banner-why .icon-2 {
        left: 27px;
    }
    .banner-why .icon-3,
    .banner-why .icon-4 {
        right: 17px;
    }
    .banner-why .image {
        width: 306px;
    }
    #book .content-section {
        width: 100%;
        padding: 24px 38px;
        margin-bottom: 30px;
        height: auto;
    }
    #book {
        height: auto;
    }
    #book {
        background: linear-gradient(90deg, #430F10 -20.27%, #701415 5.99%, #A01A1C 30.55%, #A01A1C 64.72%, #701415 97.04%, #430F10 117.47%);
        padding-bottom: 15px;
    }
    .box-book {
        padding: 0 10px;
    }
    #news .title-section {
        text-align: center;
    }
    #news {
        background: #fff;
        padding-top: 24px;
        padding-bottom: 24px;
        overflow: hidden;
    }
    .item-news .image {
        width: 100%;
    }
    .left-news,
    .right-news {
        width: 100%;
    }
    .des-banner-news {
        font-size: 16px;
        line-height: 25px;
        justify-content: center;
        display: flex;
    }
    .des-banner-news p {
        width: 85%;
        color: #262524;
        font-weight: bold;
    }
    .title-section {
        padding-bottom: 23px;
    }
    .title-news h3 {
        font-size: 14px;
        line-height: 24px;
    }
    .content-news {
        font-size: 13px;
        line-height: 24px;
    }
    .item-news .col-6.col-md-6.col-lg-7 {
        padding-left: 0;
    }
    .title-event {
        padding-top: 35px;
        position: relative;
    }
    .title-event:before {
        content: "";
        background-color: #e5e5e5b8;
        height: 7px;
        position: absolute;
        top: 0;
        width: 110%;
        left: -15px;
    }
}

@media (min-width:769px) {}

@media (max-width:768px) {}

@media (min-width:1024px) and (max-width:1200px) {
    .title-why h2 {
        font-size: 20px;
    }
    .title-why {
        width: 400px;
        height: 50px;
        top: -30px;
    }
    .item-why {
        width: 100px;
    }
    .item-why .text {
        font-size: 14px;
    }
    .right-why .icon-1,
    .right-why .icon-2 {
        right: -60px;
    }
    #book .content-section {
        width: 400px;
    }
    .left-news,
    .right-news {
        width: 100%;
    }
    .item-news .image {
        width: 100%;
    }
    .content-news {
        line-height: 24px;
    }
    .title-news {
        margin-bottom: 10px;
    }
    .bg-service .col-12.col-md-6.col-lg-3 {
        padding: 0 5px;
    }
}

@media (min-width:1200px) and (max-width:1900px) {}