:root { --primary-color: #262524; --secondary-color: #A71C20; }
*, :after, :before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; font-weight: 400; }
a { color: var(--primary-color); text-decoration: none; cursor: pointer; }
a:focus, a:hover { color: var(--secondary-color); }
a:focus { outline: -webkit-focus-ring-color auto 5px; outline-offset: -2px }
strong { font-weight: 700 }
.radio-label input[type=radio]+span:before, a, input[type=reset], input[type=submit] { -webkit-transition: .3s linear; -moz-transition: .3s linear; -o-transition: .3s linear; -ms-transition: all .3s linear; transition: .3s linear }
figure { margin: 0 }
body, button, input, textarea { font-size: 14px; line-height: 26px; }
body { min-width: 320px; -ms-word-wrap: break-word; word-wrap: break-word; overflow-x: hidden }
img { max-width: 100%; height: auto }
.screen-reader-text { clip: rect(1px, 1px, 1px, 1px); height: 1px; overflow: hidden; position: absolute !important; width: 1px }
input[type=email], input[type=number], input[type=password], input[type=phone], input[type=search], input[type=tel], input[type=text], input[type=url], textarea { border: 1px solid #ebebeb; color: #999; padding: 6px 20px; height: 50px; background: 0 0; -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; border-radius: 0; -webkit-box-shadow: none; -moz-box-shadow: none; -ms-box-shadow: none; -o-box-shadow: none; box-shadow: none; -webkit-appearance: none; -moz-appearance: none; -ms-appearance: none; -o-appearance: none; appearance: none; -webkit-transition: none; -moz-transition: none; -ms-transition: none; -o-transition: none; transition: none; width: 100% }
textarea { height: auto }
a, abbr, acronym, address, applet, b, big, blockquote, body, caption, center, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, u, ul, var { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: 0 0 }
.btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before { display: table; content: " " }
.btn-group-vertical>.btn-group:after, .btn-toolbar:after, .clearfix:after, .container-fluid:after, .container:after, .dl-horizontal dd:after, .form-horizontal .form-group:after, .modal-footer:after, .nav:after, .navbar-collapse:after, .navbar-header:after, .navbar:after, .pager:after, .panel-body:after, .row:after { clear: both }
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 { font-family: inherit; font-weight: 500; line-height: 1.1; color: inherit }
.h1, h1 { font-size: 36px }
.h2, h2 { font-size: 30px }
.h3, h3 { font-size: 24px }
.h4, h4 { font-size: 18px }
.h5, h5 { font-size: 14px }
.h6, h6 { font-size: 12px }
p { margin: 0 0 10px }
.text-left { text-align: left }
.text-right { text-align: right }
.text-center { text-align: center }
.text-justify { text-align: justify }
.text-nowrap { white-space: nowrap }
.text-lowercase { text-transform: lowercase }
.text-uppercase { text-transform: uppercase }
.text-capitalize { text-transform: capitalize }
.no-margin-b { margin-bottom: 0 }
.no-padding-t { padding-top: 0 }
.no-padding-b { padding-bottom: 0 }
.no-padding { padding-top: 0 !important; padding-bottom: 0 !important }
.fl-left { float: left }
.fl-right { float: right }
.bg-primary { background-color: var(--primary-color); }
.color-primary { color: var(--primary-color); }
.bg-secondary { background-color: var(--secondary-color) }
.color-secondary { color: var(--secondary-color) }
.flex-center { display: flex; align-items: center }
.sprite { background-image: url(../../assets/images/tgld_css_spritess.png); background-repeat: no-repeat; display: block; }
.sprite-book-menu-footer { width: 21px; height: 20px; background-position: -5px -5px; }
.sprite-calendar { width: 23px; height: 22px; background-position: -36px -5px; }
.sprite-calendar-menu { width: 18px; height: 19px; background-position: -69px -5px; }
.sprite-clean { width: 40px; height: 40px; background-position: -97px -5px; }
.sprite-dmca { width: 151px; height: 60px; background-position: -5px -55px; }
.sprite-email { width: 17px; height: 11px; background-position: -147px -5px; }
.sprite-facebook { width: 40px; height: 40px; background-position: -174px -5px; }
.sprite-hair-menu { width: 20px; height: 25px; background-position: -224px -5px; }
.sprite-home-menu-footer { width: 20px; height: 20px; background-position: -254px -5px; }
.sprite-icon-left { width: 9px; height: 10px; background-position: -5px -35px; }
.sprite-logo { width: 256px; height: 54px; background-position: -5px -125px; }
.sprite-logo-footer { width: 256px; height: 55px; background-position: -5px -189px; }
.sprite-menu { width: 40px; height: 40px; background-position: -224px -40px; }
.sprite-nail-menu { width: 16px; height: 23px; background-position: -166px -90px; }
.sprite-people-menu { width: 21px; height: 28px; background-position: -284px -5px; }
.sprite-phone { width: 11px; height: 14px; background-position: -274px -43px; }
.sprite-phone-call { width: 22px; height: 22px; background-position: -192px -67px; }
.sprite-phone-menu { width: 21px; height: 21px; background-position: -274px -67px; }
.sprite-phone-menu-footer { width: 24px; height: 28px; background-position: -271px -98px; }
.sprite-search { width: 20px; height: 27px; background-position: -271px -136px; }
.sprite-search-White { width: 20px; height: 27px; background-position: -271px -173px; }
.sprite-send { width: 22px; height: 24px; background-position: -271px -210px; }
.sprite-service-menu-footer { width: 20px; height: 20px; background-position: -271px -244px; }
.sprite-user { width: 34px; height: 34px; background-position: -5px -274px; }
.sprite-user-menu { width: 17px; height: 21px; background-position: -49px -274px; }
.sprite-voucher-menu { width: 24px; height: 28px; background-position: -76px -274px; }
.sprite-youtube { width: 40px; height: 40px; background-position: -110px -254px; }
.sprite-zalo { width: 41px; height: 41px; background-position: -160px -254px; }
.sticky-header.fix,.ScrollSticky.fix { position: fixed; width: 100%; left: 0; top: 0; box-shadow: 0 1px 6px rgba(0, 0, 0, .3); z-index: 999; -webkit-box-shadow: 0 0 20px rgba(51, 51, 51, .1); -moz-box-shadow: 0 0 20px rgba(51, 51, 51, .1); -ms-box-shadow: 0 0 20px rgba(51, 51, 51, .1); -o-box-shadow: 0 0 20px rgba(51, 51, 51, .1); box-shadow: 0 0 20px rgba(51, 51, 51, .1) }
.header-top { height: 44px; width: 100%; display: flex; align-items: center; }
.header-top .social { float: right; display: flex; }
.header-top .social li { display: inline-block; list-style: none; margin-left: 25px; }
.header-top .social li a { color: #FFFFFF; font-size: 16px; font-weight: 400; display: flex; align-items: center; text-decoration: none; }
.header-top .social li a i { margin-right: 5px; }
.header-main { height: 90px; display: flex; align-items: center; background: #E5E5E5; }
.header-main .col-7.flex-center { justify-content: flex-end; }
#main-menu { height: 100%; padding-right: 30px; }
#main-menu>ul { height: 100%; display: flex; justify-content: flex-end; gap: 50px; }
#main-menu ul li { list-style: none; }
#main-menu ul li a { text-decoration: none; }
#main-menu ul li a:hover { color: #A71C20; }
#main-menu ul li a span { font-weight: 700; }
#main-menu>ul>li>a { font-size: 20px; font-weight: 500; }
#main-menu>ul>li:hover>a { color: var(--secondary-color); text-decoration: none; }
#main-menu>ul>li:hover>ul { visibility: visible; opacity: 1; }
#main-menu>ul>li { height: 100%; display: flex; align-items: center; }
#main-menu>ul>li>ul { z-index: 100;opacity: 0; visibility: hidden; display: flex; gap: 30px; min-width: 973px; position: absolute; left: -10%; top: 100%; background: #FFFFFF; padding: 25px 39px; box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15); border-radius: 10px; }
#main-menu>ul>li>ul>li>ul>li>a { font-size: 14px; white-space: nowrap; display: inline-block; width: 100%; min-height: 40px; line-height: 40px; }
#main-menu>ul>li>ul>li>a { font-weight: 700; font-size: 16px; line-height: 19px; color: #A71C20; display: flex; align-items: center; width: 100%; height: 40px; gap: 5px; margin-top: -15px; }
#main-menu>ul>li>ul>li img { min-height: 200px; min-width: 200px; object-fit: cover; }
input.search-global__input:focus { outline: none; }
input.search-global__input::placeholder { color: #000000; }
form.search-global { display: flex; background: #fff; height: 40px; border-radius: 30px; align-items: center; position: relative; }
form.search-global input { font-size: 14px; line-height: 16px; color: #000000; text-transform: capitalize; height: 40px;     border: 1px solid transparent;}
form.search-global button { border: none; background: transparent; position: absolute; right: 10px; }
.footer-content h1 { font-size: 22px; margin-bottom: 10px; }
.footer-content { color: #FFFFFF; }
.footer-content ul li { list-style: none; font-size: 14px; margin-bottom: 5px; }
.footer-content h2 { font-size: 16px; }
.footer-content ul li:nth-child(1) { margin-bottom: 20px; }
.footer-content ul li:last-child { margin-bottom: 20px; }
main { min-height: 400px; }
#footer { padding: 54px 0 41px 0; z-index: 2;}
.footer-logo { margin-bottom: 30px; }
.footer-advise { color: #fff; border: 1px solid; border-radius: 15px; padding: 25px 22px; margin-bottom: 20px; }
.footer-advise strong { font-size: 18px; font-weight: 700; }
.footer-advise span { font-size: 32px; font-weight: 700; float: right; }
.advise { margin-bottom: 20px; }
.footer-advise>div>div { margin-bottom: 10px; }
#footer .col-lg-4 { padding: 0 90px; }
#footer .row { margin: 0 -90px; }
.footer-address { color: #fff; font-size: 14px; }
.footer-address ul li { list-style: none; }
.footer-address ul li ul { display: flex; gap: 30px; margin-top: 10px; }
.footer-address>ul>li { margin-bottom: 10px; }
.footer-address strong { font-size: 18px; margin-right: 10px; }
.footer-contact input.search-global__input { border: 0.5px solid #FFFFFF; border-radius: 26px; height: 44px; color: #fff; }
.footer-contact input::placeholder { color: #fff; opacity: 1; }
.footer-contact form.search-global { background: transparent; }
.footer-contact form.search-global button { right: 15px; }
.footer-contact .search { margin-bottom: 30px; }
.title-map, .title-form { font-size: 18px; line-height: 21px; color: #FFFFFF; font-weight: 700; margin-bottom: 15px; }
.map img { width: 100%; }
.sscrollDown { -webkit-animation: sscrollDown .6s; animation: sscrollDown .6s }
@-webkit-keyframes sscrollDown {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%)
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@keyframes sscrollDown {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%)
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

.slider-banner {
    overflow: hidden;
    height: auto;
    margin-bottom: -2px;
}

.slider-banner img {
    width: 100%;
    height: 100%;
}

.title-section {
    padding-bottom: 40px;
    background: linear-gradient(180deg, #E02126 0%, #662425 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    text-shadow: 0px 1px 4px rgba(136, 25, 29, 0.25);
    text-align: center;
}

.title-section h2 {
    font-size: 32px;
    font-weight: 700;
}

.form--container {
    max-width: 590px;
    text-align: center;
    background-color: #fffdf6;
    border-radius: 15px;
    padding: 20px 15px;
}
.form__description {font-size: 12px;font-style: italic;}

.title-section-sidebar h2 {font-size: 24px;}
#popup-booking-form .popup {
    display: none;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    transition: opacity .5s ease
}

#popup-booking-form .popup.show {
    opacity: 1
}

#popup-booking-form .popup__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #000;
    opacity: .8;
}

#popup-booking-form .popup__wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#popup-booking-form .popup__close {
    position: absolute;
    top: 5px;
    right: 15px;
    width: 50px;
    height: 50px;
    z-index: 1000;
    cursor: pointer
}

#popup-booking-form .popup__close svg {
    width: 70%;
    height: auto
}

#popup-booking-form .popup__item {
    display: none;
    border-radius: 20px;
    background: #fff;
    align-items: center;
    justify-content: center;
}

#popup-booking-form .popup__item.show {
    display: flex;
}

#popup-booking-form .popup__item.show {
    display: flex;
}

.form__main input,
.form__main textarea,
.form__main select
{
    margin-bottom: 1em;
    padding-inline: 10px;
    width: 100%;
    height: 40px;
    border-radius: 15px;
    padding: 10px;
    border: 1px solid #F2DAA9;
    color: rgb(84 79 79);
    font-size: 14px;
    font-style: italic;
    order: 0.5px solid #ffe68e;
    outline: none;
    background-color: #ffffff;
}
.form__main textarea {
    height: auto;
}
.form__main input,
.form__main textarea,
.form__main select
input:focus {
    outline: none;
}
.form__title {
    background: linear-gradient(180deg, #E02126 0%, #662425 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 1px 4px rgb(136 25 29 / 25%);font-size: 24px;margin-bottom: 10px;
}
.btn-booking {
    border: 1px solid rgb(255, 0, 0);
    border-radius: 40px;
    color: white;
    background: linear-gradient(90deg, #6D0000 0.25%, #E02126 99.13%);
    box-shadow: 0px 3px 6px rgb(133 2 2 / 25%);
    width: 50%;
    padding: 5px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    font-weight: 700;
}
.btn--advise {
    width: 100%;
    font-size: 14px;
    margin-bottom: 10px;
}