.mobile {
    display: none;
}

.desktops {
    display: block;
}

@media only screen and (max-width:1024px) {
    .desktops {
        display: none;
    }
    .mobile {
        display: block;
    }
    .header-main .logo {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .header-main {
        height: 60px;
        background: #E5E5E5;
    }
    .menu_header {
        background: #A41E22;
        display: flex;
        padding: 12px 20px;
        justify-content: space-between;
        height: 56px;
        align-items: center;
        border-radius: 0px 5px 0px 0px;
    }
    .menu_header .menu_close {
        cursor: pointer;
    }
    .menu_header .loginORreg a,
    .loginORreg span {
        color: #fff;
        font-size: 14px;
    }
    .menu_header .loginORreg {
        margin-left: -40px;
    }
    .menu_header,
    .navigation-mobile {
        position: relative;
        z-index: 10000;
    }
    .main-nav-mobile {
        width: 100%;
        overflow-y: scroll;
        position: fixed;
        max-height: 90%;
        z-index: 9999999;
        left: -100%;
        width: 320px;
        height: auto;
        top: 44px;
    }
    .main-nav-mobile>ul>li .open-submenu {
        cursor: pointer;
        height: 100%;
        position: absolute;
        right: 0;
        text-align: center;
        top: 0;
        width: 44px;
        height: 44px;
        line-height: 44px;
        z-index: 100
    }
    .main-nav-mobile>ul>li>.open-submenu::after,
    .main-nav-mobile>ul>li>ul>li>.open-submenu::after {
        content: "";
        display: block;
        box-sizing: border-box;
        position: absolute;
        width: 8px;
        height: 8px;
        border-bottom: 2px solid;
        border-right: 2px solid;
        transform: rotate(-45deg);
        right: 20px;
        top: 18px;
    }
    .main-nav-mobile>ul>li.active-menu-item>.open-submenu::after,
    .main-nav-mobile>ul>li>ul>li.active-menu-item>.open-submenu::after {
        border-bottom: 2px solid;
        border-right: 2px solid;
        transform: rotate(45deg);
    }
    html.menu-open #main-nav-mobile.main-nav-mobile>ul li {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
        -webkit-opacity: 1;
        -moz-opacity: 1;
        -ms-opacity: 1;
        -o-opacity: 1;
        opacity: 1
    }
    .main-nav-mobile>ul {
        margin: 0;
        padding: 0;
        list-style: none
    }
    .main-nav-mobile li {
        position: relative
    }
    .main-nav-mobile>ul>li>a {
        font-weight: 400;
        color: #3F3F3F;
        text-transform: capitalize;
        display: block;
        padding: 10px 50px 10px 15px;
        position: relative;
        font-size: 14px;
    }
    .main-nav-mobile>ul>li.menu-item-has-children>a {
        font-weight: 700;
    }
    .main-nav-mobile>ul.navigation-mobile>li:hover>a,
    ul.navigation-mobile>li>a:hover {
        text-decoration: none;
    }
    .main-nav-mobile>ul.navigation-mobile {
        margin-top: 4px;
        padding: 11px 23px;
        background: #fff;
    }
    .main-nav-mobile>ul.navigation-mobile>li>span {
        display: flex;
        align-items: center;
    }
    .main-nav-mobile>ul.navigation-mobile>li>i {
        position: absolute;
        left: 0;
        top: 10px;
    }
    .main-nav-mobile>ul.navigation-mobile>li {
        padding-left: 20px;
        width: auto;
        display: inline-block;
    }
    .main-nav-mobile>ul>li>ul.sub-menu {
        padding: 0px 0px 15px 0px;
        margin-left: 30px;
    }
    .main-nav-mobile>ul>li ul.sub-menu {
        display: none
    }
    .main-nav-mobile>ul>li>ul.sub-menu>li {
        list-style: disc;
    }
    .main-nav-mobile>ul>li ul.sub-menu li a {
        padding: 0px 60px 0px 0px;
        height: 44px;
        line-height: 44px;
        color: #333;
        text-decoration: none;
        font-size: 13px;
        display: block;
        position: relative;
        z-index: 1;
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
        overflow: hidden;
    }
    .main-nav-mobile>ul>li>ul>li>ul.sub-menu {
        padding-left: 20px;
    }
    .main-nav-mobile>ul>li>ul>li>.open-submenu {
        z-index: 100;
    }
    .main-nav-mobile>ul>li>a {
        height: 44px;
        line-height: 44px;
        padding-top: 0;
    }
    .menu_overlay {
        display: none;
    }
    .menu_overlay.hidden_menu {
        display: block;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 44px;
        left: 0;
        right: 0;
        z-index: 1000;
        background: rgba(63, 63, 63, 0.85);
    }
    .header-top {
        justify-content: space-between;
    }
    .header-search-wrapper {
        position: relative;
    }
    .search-main {
        display: block;
        line-height: 40px;
        padding: 0 14px;
        cursor: pointer;
    }
    .header-search-wrapper .search-form-main {
        background: #fff none repeat scroll 0 0;
        -webkit-box-shadow: 1px 1px 7px rgba(0, 0, 0, .15);
        box-shadow: 1px 1px 7px rgba(0, 0, 0, .15);
        border-top: 2px solid #408c40;
        padding: 10px;
        position: absolute;
        right: 0;
        top: 124%;
        width: 300px;
        z-index: 9999;
        opacity: 0;
        visibility: hidden;
    }
    .search-form-main.active-search {
        opacity: 1;
        visibility: visible;
    }
    .header-search-wrapper .search-form-main {
        border-top-color: #A41E22;
    }
    .header-search-wrapper .search-form-main:before {
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #408c40;
        content: "";
        position: absolute;
        right: 15px;
        top: -10px;
    }
    .header-search-wrapper .search-form-main:before {
        border-bottom-color: #A41E22;
    }
    .header-search-wrapper .search-form-main .search-field {
        border-radius: 0;
        padding: 4px 10px;
        width: 100%;
        height: 40px;
        float: left;
    }
    .header-search-wrapper .search-form-main .search-field:focus {
        outline: none;
    }
    .header-search-wrapper .search-form-main .search-submit {
        border: medium none;
        border-radius: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        color: #fff;
        float: left;
        padding: 10px 0 10px;
        width: 25%;
        height: 36px;
        background: #A41E22;
    }
    .mobile .navbar-container-inner .site-logo {
        width: 100px
    }
    .mobile .navbar-container-inner {
        justify-content: flex-start
    }
    .popup-search-form {
        padding: 0
    }
    input.search-global__input {
        font-size: 30px
    }
    .search-close {
        top: 10%
    }
    .copyright {
        border-top: 1px solid rgba(63, 63, 63, 0.5);
        padding: 11px 23px;
        font-size: 11px;
        line-height: 13px;
        background: #fff;
        border-radius: 0px 0px 5px 0px;
    }
    #footer {
        text-align: center;
        margin-bottom: 70px;
    }
    #footer .col-lg-4 {
        padding: 0 15px;
    }
    .footer-logo {
        display: flex;
        justify-content: center;
    }
    .footer-advise strong {
        text-align: left;
    }
    .footer-advise span {
        float: none;
        text-align: right;
    }
    .footer-advise>div>div {
        display: flex;
        justify-content: space-around;
    }
    .footer-advise {
        text-align: left;
    }
    .footer-content ul li:last-child {
        margin-bottom: 40px;
    }
    .footer-address ul li ul {
        justify-content: center;
    }
    .footer-address {
        margin-bottom: 25px;
    }
    #header .search {
        display: none;
    }
    #main-menu {
        display: none;
    }
    #footer .row {
        margin-right: -15px;
        margin-left: -15px;
    }
    .dmca {
        display: flex;
        justify-content: center;
        margin-top: -20px;
    }
    .footer-content-2 ul li:nth-child(1) {
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .menu-footer-mobile {
        position: fixed;
        height: 70px;
        left: 0;
        bottom: 0;
        background: #fff;
        width: 100%;
        padding: 12px 24px 14px 24px;
        z-index: 100;
        box-shadow: 0px -2px 10px rgb(0 0 0 / 10%);
    }
    .menu-footer-mobile>ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
    .menu-footer-mobile>ul>li {
        list-style: none;
    }
    .menu-footer-mobile>ul>li:last-child a span {
        padding-top: 18px;
    }
    .menu-footer-mobile>ul>li a {
        font-size: 12px;
        text-align: center;
    }
    .menu-footer-mobile>ul>li a:hover {
        color: #A71C20;
        text-decoration: none;
    }
    .menu-footer-mobile>ul>li a span {
        display: flex;
        justify-content: center;
    }
    .phone-footer {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 65px;
        height: 65px;
        background: linear-gradient(90deg, #A71C20 0%, #E02126 100.51%);
        /* box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2); */
        border-radius: 100%;
        border: 7px solid #fff;
        top: -50px;
        right: -15px;
    }
}

@media (min-width:769px) and (max-width:1500px) {
    #footer .col-lg-4 {
        padding: 0 15px;
    }
}

@media (max-width:768px) {
    .mobile-text-center {
        text-align: center
    }
    #header {
        display: none
    }
    #header-content-mobile {
        display: block
    }
}

@media (min-width:1024px) and (max-width:1200px) {
    .container {
        max-width: 1000px;
    }
    #footer .row {
        margin-right: -15px;
        margin-left: -15px;
    }
    #why {
        overflow: hidden;
    }
    .header-main .logo i {
        zoom: .9;
    }
    #main-menu>ul>li>a {
        font-size: 16px;
    }
    #main-menu>ul {
        gap: 20px;
    }
    .col-12.col-md-12.col-lg-7.flex-center {
        justify-content: end;
    }
    .container-full {
        max-width: 100%;
        padding: 0;
    }
}

@media (min-width:1200px) and (max-width:1900px) {
    #footer .row {
        margin-right: -15px;
        margin-left: -15px;
    }
    .container-full {
        max-width: 100%;
        padding: 0;
    }
}

@media only screen and (min-width:280px) and (max-width:479px) {
    #popup-booking-form .btn-close {
        transform: translate(9em, -110px) !important;
    }
    #popup-booking-form .popup__wrap {
        padding-inline: 3%;
        width: 100%;
    }
}