.item-news {
    margin-bottom: 20px;
}

.item-news .image {
    border-radius: 10px;
    width: 194px;
    height: 146px;
}

.item-news .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.read-more {
    color: #bd343c;
    font-weight: 500;
    text-decoration: none;
}

.read-more:hover {
    color: #333;
}

.cateogry-news .item-news .image {
    width: 100%;
}

.cateogry-news .right-news {
    width: 100%;
}

.cateogry-news .right-news .item-news .image {
    height: 110px;
}

.cateogry-news .title-news h3 {
    font-size: 16px;
    line-height: 24px;
}

.cateogry-news .item-news .content-news {
    line-height: 24px;
}

.cateogry-news .item-news .content-news p {
    max-height: 50px;
    overflow: hidden;
}

.cateogry-news .item-news .content-news .read-more {
    color: #bd343c;
    font-weight: 500;
    text-decoration: none;
}

.cateogry-news .item-news .content-news .read-more:hover {
    color: #333;
}

.cateogry-news .item-news .content-news a {
    text-decoration: none;
    display: inline-block;
}

.cateogry-news .item-news .content-news a:hover {
    color: #bd343c;
}

#breadcrumbs li {
    list-style: none;
}

#breadcrumbs ul {
    display: flex;
    gap: 5px;
}

#breadcrumbs a {
    display: flex;
    gap: 5px;
    color: #454545;
}

#breadcrumbs {
    margin-bottom: 20px;
}

.list-category ul {
    display: flex;
    gap: 5px;
}

.list-category li {
    list-style: none;
}

.list-category a {
    color: #424345;
    font-weight: 700;
}

.list-category a:hover {
    color: var(--secondary-color);
}

.list-category li:after {
    content: ",";
}

.list-category li:last-child:after {
    content: none;
}

.list-category {
    margin-bottom: 10px;
}

.blog-wrapper {
    background: #f7f7f7;
}

.bg-single {
    padding: 15px 20px;
    background: #fff;
    border-radius: 15px;
}

.default-sidebar {
    margin: 44px 0;
}

#content-single {
    padding-top: 15px;
}

#content-single .title-section {
    text-align: left;
}

.title-section.title-single {
    padding-bottom: 25px;
}

.title-section.title-sidebar {
    padding-bottom: 15px;
}

.content-single {
    font-size: 16px;
    color: #424345;
    text-align: justify;
}

.content-single h2 {
    font-size: 24px;
}

.content-single h3 {
    font-size: 20px;
}

.content-single h4 {
    font-size: 18px;
}

.content-single h5 {
    font-size: 16px;
}

.content-single a {
    color: var(--secondary-color);
}

.content-single ul {
    margin-left: 30px;
}

.content-single ul li {
    list-style: disc;
    margin-bottom: 10px;
}

.content-single h2,
.content-single h3,
.content-single h4,
.content-single h5 {
    margin-bottom: 10px;
}

.content-single figcaption {
    background: rgba(0, 0, 0, .05);
    font-style: italic;
    text-align: center;
    font-size: 14px;
    padding: 5px;
    margin-top: -7px;
}

.content-single figure {
    margin: 25px auto 25px;
    width: auto;
    max-width: 100%;
}

.content-single img {
    max-width: 100%;
    width: auto;
}

.cateogry-news .content-sidebar.right-news .item-news .image {
    height: 80px;
}

.content-sidebar .col-6.col-md-6.col-lg-7 {
    padding-left: 0;
}

.default-sidebar aside {
    margin-bottom: 30px;
}

.default-sidebar aside:last-child {
    margin-bottom: 0;
}

.gg-chevron-down {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs, 1));
    width: 22px;
    height: 22px;
    border: 2px solid transparent;
    border-radius: 100px
}

.gg-chevron-down::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid;
    border-right: 2px solid;
    transform: rotate(45deg);
    left: 4px;
    top: 2px
}

.gg-chevron-up {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs, 1));
    width: 22px;
    height: 22px;
    border: 2px solid transparent;
    border-radius: 100px
}

.gg-chevron-up::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 10px;
    height: 10px;
    border-top: 2px solid;
    border-right: 2px solid;
    transform: rotate(-45deg);
    left: 4px;
    bottom: 2px
}

div#menu-sidebar li {
    list-style: none;
    position: relative;
}

div#menu-sidebar i {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    width: 38px;
    height: 38px;
    border-radius: 0;
    z-index: 100;
}

div#menu-sidebar i:after {
    width: 8px;
    height: 8px;
    left: 13px;
    top: 10px;
    color: #918f8f;
}

div#menu-sidebar a {
    padding: 10px 50px 10px 0px;
    height: 38px;
    display: block;
    font-size: 14px;
    color: #454545;
}


div#menu-sidebar>ul>li+li {
    border-top: 1px solid #ececec;
}

div#menu-sidebar li ul {
    border-left: 1px solid #ddd;
    padding-left: 15px;
    display: none;
}

.default-sidebar.ScrollSticky.fix {
    left: auto;
    width: 330px;
}

.default-sidebar.ScrollSticky.fix aside.category-sidebar {
    display: none;
}
.ScrollSticky.fix {
    z-index: 100;
}
.related-posts {margin: 30px 0;}

.list-related-posts ul {margin-left: 20px;}