        @media (max-width:992px) {
            .sidebar-item {
                position: relative !important;
            }
            .post-sider-bar {
                border-left: 0px solid rgba(204, 204, 204, 0.4);
            }
            .title-col {
                padding-block: 10px;
                margin-left: -21px;
            }
            #book .content-section {
                width: 100%;
                padding: 24px 38px;
                margin-bottom: 30px;
                height: auto;
            }
            #book {
                height: auto;
            }
            #book {
                background: linear-gradient(90deg, #430F10 -20.27%, #701415 5.99%, #A01A1C 30.55%, #A01A1C 64.72%, #701415 97.04%, #430F10 117.47%);
                padding-bottom: 15px;
            }
            .box-book {
                padding: 0 10px;
            }
        }
        
        @media (min-width:1200px) {}
        
        @media only screen and (max-width:1024px) {}
        
        @media only screen and (min-width:480px) {
            .siderbar-mobile {
                display: none;
            }
        }
        
        @media only screen and (min-width:280px) and (max-width:479px) {
            .siderbar-desktop {
                display: none;
            }
            h1.detail-title {
                font-size: 1.4em;
            }
            /* .detail-postcontent figure {
                display: inline-block;
            } */
            #content-sre {
                padding-bottom: 0px;
            }
        }