
@media only screen and (max-width:1024px) {
    .slider-banner {
        height: auto;
    }
    .title-section h2 {
        font-size: 22px;
    }
    .content-single figcaption {
        line-height: 20px;
    }
    #breadcrumbs {
        display: none;
    }
    .bg-single {padding: 0;background: transparent;}
}
@media (min-width:769px) and (max-width:1500px) {

}
@media (max-width:768px) {

}
@media (min-width:1024px) and (max-width:1200px) {

}
@media (min-width:1200px) and (max-width:1900px) {

}