#detail-service {
    padding: 2em;
}

#content-sre {
    padding-bottom: 50px;
}

.detail-link {
    padding-block: 5px;
}

.single-content {
    text-align: justify;
    margin-bottom: 0.4em;
    font-size: 16px;
    color: #424345 !important;
}

.single-content .title-section {
    text-align: left;
    padding-top: 30px;
    padding-bottom: 0 !important;
}

.detail-service-inner .single-service p:first-of-type {
    padding: 10px 15px;
    border-radius: 8px;
    background-color: #f3f3f3;
}

.divider,
.breadcrumbs a {
    color: rgba(102, 102, 102, .7);
    font-weight: 400;
}

#content-service .single-service h1,
#content-service .single-service h2,
#content-service h3,
#content-service h4,
#content-service h5,
#content-service h6 {
    color: #454545;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0.5em;
}

#content-service .single-service ol,
#content-service .single-service ul {
    margin-top: 0;
    padding: 0;
}

#content-service .single-service li {
    margin-bottom: 0.6em;
    margin-left: 2em;
}

#content-service .single-service figure {
    margin-left: auto;
    margin-right: auto;
    display: table;
    margin-bottom: 2em !important;
    max-width: 100%;
    margin-top: 2em !important;
}

#content-service .single-servicefigcaption {
    text-align: center;
    font-style: oblique;
    font-weight: lighter;
    background-color: #f3f3f3;
    transform: translateY(-8px);
    display: table-caption;
    caption-side: bottom;
    font-size: 14px;
    line-height: 1.3em;
    margin-left: 1px;
    padding: 0.4em;
}

.banner-col {
    position: relative;
    max-width: 320px;
}

.title-sidebar {
    text-align: left;
    padding: 40px 0 15px 0;
}

.banner-image-detail {
    padding-bottom: 10px;
}

.detail-inner-form {
    border: 1px solid rgb(255, 255, 255);
    padding: 5px;
    border-radius: 10px;
    margin-top: 0.5em;
}

.img-detail img {
    max-width: 100%;
    max-height: 100%;
}
.sidebar-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 99%;
}

.make-me-sticky {
    padding: 0 15px;
}

.col-12.text-center {
    margin-bottom: 30px;
}

.form-mb-cl {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 5px;
}

.siderbar-mobile {
    padding: 0px;
    padding-block: 1em;
}
.title-section-sidebar {
    padding-bottom: 5px !important;
}
.make-me-sticky.ScrollSticky.fix {
    width: 350px;
    left: auto;
    z-index: 1;
}
#book {
    padding-top: 46px;
    padding-bottom: 43px;
    height: 300px;
    background-size: cover;
}
.box-book,
.box-news {
    display: flex;
    justify-content: center;
}

#book .content-section {
    background: #FFFFFF;
    border: 2px solid #FF3333;
    box-sizing: border-box;
    backdrop-filter: blur(10.0163px);
    border-radius: 30.0488px;
    padding: 45px 52px;
    text-align: center;
    width: 513px;
    height: 211px;
}

.bnt-book a {
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: linear-gradient(90deg, #6D0000 0.25%, #E02126 99.13%);
    box-shadow: 0px 3px 6px rgba(133, 2, 2, 0.25);
    border-radius: 30px;
    text-decoration: none;
}

.bnt-book span {
    font-weight: 700;
    font-size: 18px;
    margin-left: 15px;
}

.des-book {
    font-size: 14px;
    color: #666666;
    margin-top: 20px;
}

.des-book p {
    margin: 0;
}

.title-boook {
    color: #262524;
    margin-bottom: 20px;
}

.title-boook h3 {
    font-weight: 700;
    font-size: 18px;
}