.slider-banner { overflow: hidden; height: auto; margin-bottom: -8px; }
.slider-banner img { width: 100%; height: 100%; }
.title-section { padding-bottom: 40px; background: linear-gradient(180deg, #E02126 0%, #662425 100%); -webkit-background-clip: text; -webkit-text-fill-color: transparent; background-clip: text; text-fill-color: transparent; text-shadow: 0px 1px 4px rgba(136, 25, 29, 0.25); text-align: center; }
.title-section h2 { font-size: 32px; font-weight: 700; }
#news { background: #E5E5E5; padding-top: 50px; padding-bottom: 40px; }
#news .title-section { text-align: left; }
.item-news .image { border-radius: 10px; width: 194px; height: 146px; }
.item-news .image img { width: 100%; height: 100%; object-fit: cover; border-radius: 10px; }
.des-banner-news { font-weight: 700; font-size: 20px; line-height: 30px; text-align: center; color: #262524; }
.title-news h3 { font-weight: 700; font-size: 20px; line-height: 30px; }
.content-news { font-weight: 400; font-size: 14px; line-height: 30px; color: #606060; }
.item-news { margin-bottom: 20px; }
.left-news, .right-news { width: 513px; }
.item-news .col-7 { padding-left: 0; }
.box-news.cateogry-news { display: block; }
.cateogry-news .item-news .image { width: 100%; }
.cateogry-news .left-news, .cateogry-news .right-news { width: 100%; }
.cateogry-news .left-news .item-news .image { height: 220px; }
.cateogry-news .right-news .item-news .image { height: 110px; }
.cateogry-news .title-news h3 { font-size: 16px; line-height: 24px; }
.cateogry-news .left-news .title-news h3 { padding: 10px 0; }
.cateogry-news .item-news .content-news { line-height: 24px; }
.cateogry-news .item-news .content-news p { max-height: 50px; overflow: hidden; }
.cateogry-news .item-news .content-news a { text-decoration: none; display: inline-block; }
.cateogry-news .item-news .content-news a:hover { color: #bd343c; }
.read-more { color: #bd343c; font-weight: 500; text-decoration: none; }
.read-more:hover { color: #333; }
.list-category-news a { display: inherit; padding: 5px; border-radius: 5px; border: 1px solid #70707078; font-weight: 700; text-transform: uppercase; width: 272px; text-align: center; }
.list-category-news li { list-style: none; }
.list-category-news ul { display: flex; justify-content: space-between; }
.list-category-news { padding: 10px 100px 25px 100px; }
#breadcrumbs li { list-style: none; }
#breadcrumbs ul { display: flex; gap: 5px; }
#breadcrumbs a { display: flex; gap: 5px; }
#breadcrumbs { margin-bottom: 20px; }
