
@media only screen and (max-width:1024px) {
    .slider-banner {
        height: 390px;
    }
    .list-category-news a {width: auto;font-size: 12px;}

    .list-category-news {padding: 20px 0;}
    
    .list-category-news ul {gap: 5px;}
}
@media (min-width:769px) and (max-width:1500px) {

}
@media (max-width:768px) {

}
@media (min-width:1024px) and (max-width:1200px) {

}
@media (min-width:1200px) and (max-width:1900px) {

}