div#content {
    background: #E5E5E5;
}

.service {
    display: flex;
    justify-content: center;
    max-width: 1280px;
}

.col-inner {
    border: 3px solid white;
    width: 100%;
    height: auto;
    border-radius: 30px;
    margin: 0%;
    background: rgba(255, 255, 255, 0.2);
    margin-bottom: 3rem;
}

.service_box-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 28px;
}

.service-title {
    padding: 44px 0 40px 0;
    font-weight: 700;
    background: linear-gradient(180deg, #E02126 0%, #662425 100%);
    text-shadow: 0px 1px 4px rgb(136 25 29 / 25%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    text-align: center;
    font-size: 32px;
    line-height: 38px;
}

.col.service {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 30px;
}

.service_box-image {
    text-align: center;
}

.box-text {
    cursor: pointer;
    display: block;
    background: rgba(255, 255, 255, 0.2);
}

.box-icon {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    font-size: 14px;
    color: #666666;
}

.box-title {
    text-align: center;
    display: block;
    margin: 5px;
}

.box-title p {
    -webkit-line-clamp: 2;
    max-height: 3.5em;
    display: inline-block;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    margin-top: 7px;
    padding-inline: 15px;
    color: #666666;
}

.box-title hr {
    margin: 0 10px;
}

.style-title-service {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #A71C20;
    text-transform: capitalize;
    padding: 5px 0px;
    margin-top: 13px;
}

.btn-service {
    width: 150px;
    height: 40px;
    background: linear-gradient(90deg, #A71C20 0%, #E02126 100%);
    box-shadow: 5px 6px 20px rgb(224 33 38 / 20%);
    border-radius: 33.5px;
    border: red;
    margin-bottom: 20px;
    margin-top: 15px;
    color: white;
    font-size: 16px;
    line-height: 17px;
    cursor: pointer;
    font-weight: 400;
}

a:focus,
a:hover {
    color: rgba(248, 0, 0, 0);
    text-decoration: underline;
}

.box-title a {
    text-decoration: none;
}

